/*------------------------------
        Media Query
------------------------------*/

@media all and (max-width: 1800px) {
    .heading-text {
        margin-top: 70px;
        margin-left: 60px;
    }
    
    .heading-text h3{
        font-size: 55px;
    }
    
    .heading-text a{
        font-size: 22px;
    }
    
    .oval-text{
        font-size: 24px;
        width: 700px;
    }
    
    .heading-image img{
        width: 700px;
        margin-top: 70px;
    }
    .nav-link{
        font-size: 22px;
    }
    .product-card{
        width: 400px;
    }
    .product-card img {
    height: 350px;
    width: 300px;
}
    .off-prize::before{
        right: 0.2rem;
    }
    .off-prize::after{
       right: -2px; 
    }
    .testi-head{
        font-size: 70px;
        margin-bottom: 45px;
    }
    .testi .row {
    margin-bottom: 60px;
}
    .num h2{
        font-size: 42px;
    }
}


@media all and (max-width: 1500px) {
     .heading-text {
        margin-top: 50px;
        margin-left: 40px;
    }
    
    .heading-text h3{
        font-size: 45px;
    }
    
    .heading-text a{
        font-size: 18px;
    }
    
    .oval-text{
        font-size: 20px;
        width: 600px;
    }
    
    .heading-image img{
        width: 600px;
        margin-top: 70px;
    }
    .nav-link{
        font-size: 20px;
    }
    
    
    .about-content div h2 {
        font-size: 40px;
        letter-spacing: 1px;
    }
    
    .about-content div p {
        font-size: 16px;
        line-height: 22px;
    }
    
    .product-card{
        width: 300px;
    }
    .product-card img {
    height: 250px;
    width: 200px;
}
    .off-prize::before{
        right: 7.2rem;
    }
    .off-prize::after{
       right: 104px; 
    }
     .testi-head{
        font-size: 60px;
        margin-bottom: 35px;
    }
    .testi .row {
    margin-bottom: 40px;
}
    .num h2{
        font-size: 32px;
    }
}


@media all and (max-width: 1290px) {
    .testi{
        height: auto;
    }
         
}


@media all and (max-width: 1000px) {
    .heading-text h3{
        font-size: 20px;
    }
    
    .heading-text a{
        font-size: 10px;
    }
    
    .oval-text{
        font-size: 12px;
        width: 300px;
    }
    
    .heading-image img{
        width: 400px;
    }
    
    .about-content div p {
        margin-top: 20px;
        line-height: 20px;
        width: 85%
    }
    
    .about-content div h2 {
        width: 85%;
        font-size: 30px;
    }
    
    .about-content div img {
        width: 70%;
    }
    
    .best-seller{
        height: auto;
    }
    
    .product-card:nth-child(3){
        margin-top: 10px;
    }
    
    .offers-section {
        height: auto;
        padding: 50px 0;
        padding-left: 60px;
    }
    
    .offers {
        flex-direction: column;
    }
    
    .offers-section .pricing {
        width: 70%;
        margin: 30px 0;
        padding: 15px;
    }
    
    .offers-section .pricing:nth-child(even) {
        margin-top: 30px;
    }
    
    .testi{
        height: auto;
    }
    .contact-section {
        height: auto;
        padding: 50px 0
    }
    
    .contact-container {
        flex-direction: column;
    }
    
    .contact-right {
        clip-path: none;
    }
    .contact-info{
        margin: 25px;
    }
    
    .contact-left {
        padding: 50px;
    }
    .contact-left > p{
        margin-bottom: 50px;
    }
}

@media all and (max-width: 820px){
    .heading-image img{
        width: 350px;
    }
    
    .nav-link{
        font-size: 14px;
    }
    .about-content div p{
        font-size: 12px;
    }
}


@media all and (max-width: 740px) {
    .heading-text {
        margin-top: 0px;
    }
    
    .heading-image img{
        width: 300px;
    }
    
    .oval-text{
        width: 300px;
        padding: 20px 20px;
        margin: 30px 0px;
    }
    
    .testi-head{
        font-size: 32px;
    }
    .left-heading img {
        order: 1;
    }
    
     .left-about {
        display: none;
    }
    
    .about-content {
        width: 90%;
        height: 90%;
        margin-left: 30px;
    }
    
    .cars-gallery div {
        width: 90%;
    }
    
    .contact-section {
        padding-left: 60px;
    }
    
    .contact-container {
        width: 90%;
    }
}


@media all and (max-width: 650px) {
  
    
    .heading-section {
        height: auto;
    }
    
    .heading-section img {
        top: 40%;
        width: 250px;
    }
    
    .heading-text {
        justify-content: center;
        margin: 0;
        margin-top: 20px;
    }
    
    .product-card:nth-child(2){
        margin-top: 10px;
    }
    
    .about-section {
        padding: 0;
    }
    
    .about-content {
        flex-direction: column;
        padding: 20px;
        margin-left: 0;
    }
    
    .offers-section {
        padding-left: 0;
    }
    
    .offers-heading h2 {
        font-size: 40px;
    }
    
    .offers-heading h2 span {
        font-size: 50px;
    }
    
    .pricing h3 {
        font-size: 25px;
    }
   
    .pricing p {
        font-size: 16px;
    }
    
    .pricing p:last-child {
        font-size: 50px;
    }
    
    .pricing p span {
        font-size: 20px;
    }
    
    .gallery-section {
        padding-left: 0;
    }
    
    
    .button {
        padding: 10px;
        font-size: 17px;
    }
    
    .contact-section {
        padding-left: 0;
    }
    
    .contact-left {
        padding: 20px;
    }
    
    .contact-left>p {
        margin-bottom: 40px;
    }

    .contact-info {
        margin: 10px;
    }
    .about-content div img{
        width: 55%;
        margin-top: 10px;
    }
}

@media all and (max-width: 590px){
    #arrow-down{
        display: none;
    }
    
    .heading-image img{
        margin-top: 0;
    }
    
    .heading-section{
        padding-bottom: 50px; 
        padding-top: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .content{
        flex-direction: column;
        text-align: center;
    }
}


@media all and (max-width: 480px) {
    .about-section{
        height: 110vh;
    }
    .about-content{
        height: auto;
    }
    
    .about-content div img{
        width: 180px;
        height: 150px;
    }
    .best-seller h1{
        font-size: 24px;
    }
    .cust-numbers{
        flex-direction: column;
        text-align: center;
    }
    .offers-heading h2 {
        margin-top: 0;
    }
    
    .offers-section .pricing {
        width: 85%;
    }
    
    .contact-info p {
        letter-spacing: 0;
        line-height: 20px;
    }
    
    .contact-info i {
        padding: 10px;
        font-size: 25px;
    }
    
    .contact-left {
        padding: 10px;
    }
    
    .social-links a{
        font-size: 12px;
    }
    
}

@media all and (max-width: 400px){
    .social-links{
        padding: 0;
    }
    .social-links a{
        margin: 2px;
    }
}

@media all and (max-width: 320px){
    .about-section{
        height: 130vh;
    }
    
    .heading-section img {
        width: 200px;
        margin-top: 20px;
    }
}











